// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-primary: mat-palette($mat-teal, 900);
$light-accent: mat-palette($mat-amber, 400, 200, 600);

// The warn palette is optional (defaults to red).
$light-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Define dark theme
$dark-primary: mat-palette($mat-teal);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@mixin avatar-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-avatar {
        .avatar-primary {
            background-color: mat-color($primary);
        }

        .avatar-accent {
            background-color: mat-color($accent);
        }
    }
}

@mixin amount-theme($theme) {
    $credit-color: mat-color(map-get($theme, primary));
    $debt-color: mat-color(map-get($theme, warn));

    .amount-credit {
        color: $credit-color;
    }

    .amount-debt {
        color: $debt-color;
    }
}

@include angular-material-theme($light-theme);
@include avatar-theme($light-theme);
@include amount-theme($light-theme);

.easyrepay-dark-theme {
    @include angular-material-color($dark-theme);
    @include avatar-theme($dark-theme);
    @include amount-theme($dark-theme);
}


/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.spacer {
    flex: 1 1 auto;
}

button:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.mat-menu-item .mat-icon,
.mat-flat-button .mat-icon {
    transform: translateY(-5%);
}

.page-title {
    display: inline !important;
}

.back-button {
    position: relative;
    top: -4px;
    left: -10px;
}
