{
    "tabWidth": 4,
    "printWidth": 120,
    "overrides": [
        {
            "files": ["*.ts", "*.js"],
            "options": {
                "singleQuote": true,
                "trailingComma": "all",
                "semi": true,
                "bracketSpacing": false,
                "arrowParens": "avoid"
            }
        }
    ]
}
