<mat-toolbar color="primary" class="mat-elevation-z6 app-toolbar" fxLayout="row">
  <mat-icon>account_balance_wallet</mat-icon>
  <span class="ml-1">{{title | uppercase}}</span>
  <span class="spacer"></span>
  <!-- TODO: Logged user -->
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu>
    <button mat-menu-item [matMenuTriggerFor]="appearanceMenu">
      <mat-icon>settings_brightness</mat-icon>
      {{'APPEARANCE'}}
    </button>
    <mat-menu #appearanceMenu>
      <ng-container *ngFor="let theme of getThemes()">
        <button mat-menu-item (click)="setTheme(theme.label)">
          <mat-icon>{{theme.icon}}</mat-icon>
          {{theme.label}}
        </button>
      </ng-container>
    </mat-menu>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      {{'LOGOUT'}}
    </button>
  </mat-menu>
</mat-toolbar>
