<div class="login-div" fxLayoutAlign="center center">
  <mat-card class="login-card mt-5 mx-2 m-md-5">
    <mat-card-title class="mb-4">Login</mat-card-title>
    <mat-card-content>
      <ng-form [formGroup]="form">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{'USERNAME' | translate}}</mat-label>
            <input matInput formControlName="username" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{'PASSWORD' | translate}}</mat-label>
            <input matInput type="password" formControlName="password" required>
          </mat-form-field>
        </div>
      </ng-form>
      <div *ngIf="error" class="alert alert-danger login-error" role="alert">
        <mat-icon class="login-error">error</mat-icon>
        <span class="login-error ml-1">{{error | translate}}</span>
      </div>
      <button mat-flat-button color="primary" (click)="login()" [disabled]="!form.valid">
        <ng-container [ngSwitch]="loading">
          <ng-container *ngSwitchCase="true">
            <div class="button-spinner d-flex justify-content-center m-2">
              <mat-spinner diameter="20"></mat-spinner>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            {{'LOGIN' | translate}}
          </ng-container>
        </ng-container>
      </button>
    </mat-card-content>
  </mat-card>
</div>
