<div class="d-flex">
    <button mat-flat-button color="primary" (click)="cancel()">{{ "CANCEL" | translate }}</button>
    <button
        mat-flat-button
        *ngIf="showDelete"
        class="ml-2"
        color="warn"
        [disabled]="saving || deleting"
        (click)="deleteTransaction()"
    >
        {{ "DELETE" | translate }}
    </button>
    <button
        mat-flat-button
        class="ml-2"
        color="primary"
        [disabled]="!formValid || saving || deleting"
        (click)="saveTransaction()"
    >
        {{ "SAVE" | translate }}
    </button>
</div>
