<ng-form [formGroup]="form">
    <div class="row align-items-center">
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>{{ "TYPE" | translate }}</mat-label>
            <mat-select formControlName="type" required>
                <mat-option *ngFor="let type of TRANSACTION_TYPES" [value]="type">
                    {{ type | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>{{ "AMOUNT" | translate }}</mat-label>
            <input matInput type="number" formControlName="amount" required />
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>{{ "DESCRIPTION" | translate }}</mat-label>
            <input matInput type="text" formControlName="description" required />
            <mat-icon matSuffix>article</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>{{ "DATE" | translate }}</mat-label>
            <input
                matInput
                formControlName="date"
                [matDatepicker]="datepicker"
                (click)="datepicker.open()"
                [readonly]="true"
                required
            />
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>{{ "TIME" | translate }}</mat-label>
            <mat-select formControlName="time" required>
                <mat-option *ngFor="let time of timeSlots" [value]="time">{{ time }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>schedule</mat-icon>
        </mat-form-field>
        <div class="col-12 mb-2">
            <mat-checkbox formControlName="completed">{{ "COMPLETED" | translate }}</mat-checkbox>
        </div>
    </div>
</ng-form>
<div *ngIf="error" class="alert alert-danger error-alert" role="alert">
    <mat-icon class="error-alert">error</mat-icon>
    <span class="error-alert ml-1">{{ error | translate }}</span>
</div>
